# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# Logs and local data
logs/
*.log

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/
.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
