fastapi==0.115.14
uvicorn==0.35.0
passlib==1.7.4
pydantic_settings==2.11.0
python-jose==3.5.0
supabase==2.16.0
bcrypt==4.0.1
celery==5.5.3
llama-index==0.12.46
llama-index-vector-stores-qdrant==0.6.1
llama-index-readers-file==0.4.9
llama-index-readers-json==0.3.0
llama-index-readers-docling==0.3.3
llama-index-node-parser-docling==0.3.2
minio==7.2.15
python-multipart==0.0.20
celery==5.5.3
redis==6.2.0
alembic==1.13.1
psycopg2-binary==2.9.9
langchain
cachetools